{% extends'base.html'%}
{% block main %}
<div class="row">
    <div class="col-6 offset-3">
    <form action="" method="POST">
        <div class="col mb-3">
        <label for="chosen_currency">Chose currency:</label>
        <select name="chosen_currency" id="" class="chosen_currency" required>
            <option value="PLN">🇵🇱 PLN-Polish zloty</option>
            <option value="EUR">🇪🇺 EUR-Euro</option>
            <option value="USD">🇺🇸 USD-US Dollar</option>
            <option value="GBP">🇬🇧 GBP-British pound</option>
            <option value="CAD">🇨🇦 CAD-Canada dollar</option>
            <option value="CNY">🇨🇳 CNY-China Yuan Renminb</option>
            <option value="CHF">🇨🇭 CHF-Switzerland Franc</option>
            <option value="DKK">🇩🇰 DKK-Denmark Krone</option>
            <option value="SEK">🇸🇪 SEK-Sweden Krona</option>
            <option value="IDR">🇮🇩 IDR-Indonesia Rupiah</option>
            <option value="INR">🇮🇳 INR-India Rupee</option>
            <option value="MXN">🇲🇽 MXN-Mexico Peso</option>
            <option value="CZK">🇨🇿 CZK-Czech Republic Koruna</option>
            <option value="JPY">🇯🇵 JPY-Japan Yen</option>
            <option value="RUB" disabled>🇷🇺 RUB-Russia Ruble</option>
        </select>
    </div>
    <div class="col mb-3">
        <label for="selected_date">Select date: </label>
        <input type="date" name="selected_date" min="1998-01-01">
    </div>
    <button class="btn btn-primary w-100">Check</button>
</form>
</div>
</div>
{% endblock%}